# Exercise 05-03 v1.0.0
#
---
apiVersion: v1
kind: Service
metadata:
  name: web01-svc
  labels:
    app: web01-svc
spec:
  selector:
    app: web01-pod
  type: ClusterIP
  ports:
  - port: 80
    targetPort: 80
    protocol: TCP
    name: http
