# Exercise 05-03 v1.0.0
#
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: web01-deploy
  labels:
    app: store-app
spec:
  selector:
    matchLabels:
      app: web01-pod
  template:
    metadata:
      labels:
        app: web01-pod
    spec:
      containers:
      - name: web-app
        image: nginx 
        ports:
        - containerPort: 80
        livenessProbe:
          httpGet:
            path: /
            port: 80
        readinessProbe:
          httpGet:
            path: /
            port: 80
        resources:
          limits:
            cpu: 100m
            memory: 256Mi
          requests:
            cpu: 80m
            memory: 128Mi

