# Exercise 19-02 v1.0.0
#
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: web10-deploy
  labels:
    app: store-app 
    tier: frontend
spec:
  replicas: 5
  selector:
    matchLabels:
      app: web10-pod
  template:
    metadata:
      labels:
        app: web10-pod
    spec:
      containers:
        - name: web-app
          image: nginx:1.24
          ports:
            - name: http 
              containerPort: 80
              protocol: TCP
---
apiVersion: v1
kind: Service
metadata:
  name: web10-svc
  labels:
    app: store-app
    tier: frontend
spec:
  selector:
    pod: web10-pod
  ports:
    - protocol: TCP
      port: 80
      targetPort: 80