# Exercise 10-04 v1.0.0
#
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: app07-deploy 
  labels:
    app: store-app 
spec:
  replicas: 2  
  selector:
    matchLabels:
      pod: app07-pod 
  template:
    metadata:
      labels:
        pod: app07-pod 
    spec:
      containers:
      - name: app-app 
        image: busybox:1.28
        command: ["sh", "-c", "echo Hello Kubernetes! && sleep 3600"] 
        env:
          - name: END_USER
            valueFrom:
              configMapKeyRef:
                name: app07-cm
                key: SERVICE_USER
          - name: GROUPS 
            valueFrom:
              configMapKeyRef:
                name: app07-cm
                key: GROUPS 
          - name: ROLE 
            valueFrom:
              configMapKeyRef:
                name: app07-cm
                key: ROLE 